version: '3.3'
services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  backend:
    image: capralg/foodgram_backend:latest
    restart: always
    expose:
        - 8000
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - ./.env

  frontend:
    image:  2701998123/foodgram_frontend:latest
    volumes:
      - ../frontend/:/foodgram/result_build/
    depends_on:
      - db

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_value:/foodgram/backend_static/
      - media_value:/foodgram/backend_media/
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs:/usr/share/nginx/html/api/docs/
    depends_on:
      - frontend

volumes:
  postgres_data:
  static_value:
  media_value: